*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

a{
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

header {
    width: 100%;
    height: auto;
    background-color: #1F2937;
    padding-bottom: 110px;
}

.hero{
    width:1100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    background-color: #1F2937;
    position: fixed;
}

.navbar-items {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 21px;
    color: #F9FAF8;
}


.links ul {
    display: flex;
    margin-top: 5px;
}

.links ul li {
    list-style: none;
}

.links ul li a{
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 25px;
    letter-spacing: 0.6px;
}

.header-content {
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.content-left {
    width: 42%;
    margin-right: 90px;
}

.content-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.content-left p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 15px;
}

.header-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    margin-top: 15px;
    border-radius: 10px;
}

.header-img {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6D747D;
}

.header-img p {
    color: #F9FAF8;
    font-size: 17px;
}

.information {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.information h1 {
    font-size: 36px;
    font-weight: bolder;
}

.info-hero {
    width: 50%;
    display: flex;
    margin-top: 40px;
}


.info-container {
    width: 200px;
}

.info-container:not(:last-child) {
    margin-right: 50px;
  }


.info-img {
    width: 160px;
    height: 160px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.info-container p {
    width: 160px;
    text-align: center;
    margin-top: 10px;
    padding: 0 5px
}

.quote-section {
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 300px;
}

.quote-container {
    width: 90%;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight:100;
}

.author {
    font-weight: bolder;
    text-align: right;
    font-size: 26px;
}

.signup-section {
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container {
    width: 70%;
    height: 150px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
    border-radius: 10px;
}

.signup-left {
    color: #F9FAF8;
}

.signup-left p {
    margin-top: 4px;
    letter-spacing: 0.06rem;
}

.signup-btn {
    padding: 8px 35px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 3px solid #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #F9FAF8;
    color: #3882F6;
    transition: 0.2s ease;
}

footer {
    width: 100%;
    height: 15vh;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #F9FAF8;
    word-spacing: 0.1rem;
}